<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"> -->
        </script>
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
    <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <title>Document</title>
    <style>
       #app{
           position: relative;
           
       }
       .app{
           position: absolute;
           top:50%;
           left: 50%;
           width:400px;
           height: 400px;
           transform: translateX(-50%) translateY(-50%);
           border: 1px solid;
       }
       .top{
           display: flex;
           justify-content: center;
           margin-top: 30px;
           height: 25px;
       }
       .ToggleSelectAll{
           margin-right:10px;
       }
       li{
           list-style-type:none
       }
       .delete{
           float:right;
           margin-right:100px;
       }
       .down{
           margin-left: 50px;
           margin-top: 50px;
       }
    </style>
</head>

<body>
    <div id="app" ></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
<script>


    var store = new Vuex.Store({
        state: {
            showingCategory: 'all',
            idCount: 3,
            todos: [{
                id: 1,
                done: false,
                content: 'eat'
            }, {
                id: 2,
                done: true,
                content: 'drink'
            }]
        },
        getters: {
            showingTodos: state => {
                if (state.showingCategory === 'all') {
                    return state.todos
                }
                if (state.showingCategory === 'active') {
                    return state.todos.filter(it => !it.done)
                }
                if (state.showingCategory === 'completed') {
                    return state.todos.filter(it => it.done)
                }
            },
            isAllDone: state => {
                return state.todos.every(it => it.done)
            },
            itemsLeft: state => state.todos.filter(it => !it.done).length,
            hasDone: (state, getters) => state.todos.length - getters.itemsLeft > 0,
        },
        mutations: {
            addTodo(state, content) {
                 state.todos.push({
                 id: state.idCount++,
                done: false,
                 content,
               
                })
            },
            deleteTodo(state, todo) {
                state.todos = state.todos.filter(it => it !== todo)
            },
            setAllDone(state) {
                state.todos.forEach(it => it.done = true)
            },
            setAllUndone(state) {
                state.todos.forEach(it => it.done = false)
            },
            toggleTodoStatus(state, todo) {
                // var index=state.todos.indexOf(todo)
                // state.todos[index].done= !state.todos[index].done
                todo.done = !todo.done
            },
            changeTodoContent(state, { todo, content }) {
                todo.content = content
            },
            switchShowingCategory(state, cate) {
                state.showingCategory = cate
            },
            clearCompleted(state) {
                state.todos = state.todos.filter(it => !it.done)
            }
        }
    })


    Vue.component('TodoApp', {
        template: `
       <div class="app">
            <div class="top">
                <ToggleSelectAll></ToggleSelectAll>
                <TodoInput></TodoInput>
            </div>
            
            <TodoList :todos="todos"></TodoList>

            <div class="down">
                <ItemsLeft></ItemsLeft>
                <TodoCateToggle></TodoCateToggle>
                <ClearComplete></ClearComplete>
            </div>

       </div>
       `,
        computed: {
            ...Vuex.mapGetters({
                todos: 'showingTodos'
            })
        },
    })

    Vue.component('ToggleSelectAll', {
        template: `
       <input type="checkbox" class="ToggleSelectAll" @click="toggle" :checked="isAllDone" />
       `,
        computed: Vuex.mapGetters({
            isAllDone: 'isAllDone'
        }),
        methods: {
            toggle() {
                if (this.$store.getters.isAllDone) {
                    this.$store.commit('setAllUndone')
                } else {
                    this.$store.commit('setAllDone')
                }
            }
        }
    })

    Vue.component('TodoInput', {
        template: `
       <input type="text" v-model.trim="todoText" @keyup.enter="addTodo "/>
       `,
        data() {
            return {
                todoText: ' '
            }
        },
        methods: {
            addTodo() {
                this.$store.commit('addTodo', this.todoText)
                this.todoText = ' '
            }
        }
    })

    Vue.component('TodoList', {
        props: {
            todos: Array
        },
        template: `
       <ul>
        <TodoItem v-for="(todo,index) in todos" :todo="todo" :key="todos.id"></TodoItem>
       </ul>
       `
    })

    Vue.component('TodoItem', {
        props: {
            todo: Object
        },
        template: `
    <li>
        <input type="checkbox"
           :checked="todo.done" @click="toggle(todo)" />

        <span v-show="!editing" @dblclick="editing=true">{{todo.content}}</span>
        <input v-focus v-if="editing" ref="input" type="text" :value="todo.content" @blur="edit" @keyup.enter="edit"/>   

        <span @click="delTodo(todo)" class="delete">X</span>
    </li>
       `,
        data() {
            return {
                editing: false
            }
        },
        methods: {
            edit() {
                this.editing = false
                this.$store.commit('changeTodoContent', {
                    todo: this.todo,
                    content: this.$refs.input.value
                })
            },
            toggle(todo) {
                this.$store.commit('toggleTodoStatus', todo)
            },
            delTodo(todo) {
                this.$store.commit('deleteTodo', todo)
            }
        },
        directives: {
            focus: {
                inserted: function (el) {
                    el.focus()
                }
            }
        }
    })

    Vue.component('ItemsLeft', {
        template: `
        <span>{{left}} item(s) left </span>
        `,
        computed: {
            left() {
                return this.$store.getters.itemsLeft
            }
        }
    })

    Vue.component('TodoCateToggle', {
        template: `
        <div>
            <label><input type="radio" :checked="currentCate==='all'" @click="switchCate('all')" />All</label>
            <label><input type="radio" :checked="currentCate==='active'" @click="switchCate('active')" />Active</label>
            <label><input type="radio" :checked="currentCate==='completed'" @click="switchCate('completed')" />Completed</label>         
        `,
        computed: {
            currentCate: function () {
                return this.$store.state.showingCategory
            }
        },
        methods: {
            switchCate(cate) {
                this.$store.commit('switchShowingCategory', cate)
            }
        }

    })

    Vue.component('ClearComplete', {
        template: `
        <button v-show="show" @click="clear">Clear Completed</button>
        `,
        methods: Vuex.mapMutations({
            clear: 'clearCompleted'
        }),
        computed: Vuex.mapGetters({
            show: 'hasDone'
        })
    })

    var app = new Vue({
        el: '#app',
        store: store,
        template: '<TodoApp />'
    })

</script>

</html>